<div class="row">
	<div class="col-md-7"> 
        <!-- Classic Heading -->
        <h4 class="classic-title"><span>About Us</span></h4>
        <p>As a team, we bring our thoughts and experience on paper to share our best of the best approaches and practices for User Experience and User Interface Designs, so that they can to provide the best solutions to the business stockholders and increase their ROI.</p>
  	</div>
	
	<div class="col-md-5"> 
		<!-- Classic Heading -->
		<h4 class="classic-title"><span>Testimonials</span></h4>

		<!-- Start Testimonials Carousel -->
		<div class="testimonials-carousel show-one-slide touch-carousel" data-appeared-items="1"> 
			<!-- Testimonial 1 -->
			<div class="classic-testimonials item">
			  <div class="testimonial-content">
			    <p>"I strongly recommend to individuals those interested in learning User Experience and start their career as an UX Designer."</p>
			  </div>
			  <div class="testimonial-author"><span>Sanjay Kumar</span> - IT Professional</div>
			</div>

			<!-- Testimonial 2 -->
			<div class="classic-testimonials item">
			  <div class="testimonial-content">
			    <p>"I explore this website and found the material of User Experience suitable. Simple language with images and example make ."</p>
			  </div>
			  <div class="testimonial-author"><span>Pramod Singh</span> - Student</div>
			</div>
	
			<!-- Testimonial 3 -->
			<div class="classic-testimonials item">
			  <div class="testimonial-content">
			    <p>"I would definitely recommend this site to anyone interested in taking their User Experience knowledge to the next level."</p>
			  </div>
			  <div class="testimonial-author"><span>Prasad</span> - IT Professional</div>
			</div>
		</div>
		<!-- End Testimonials Carousel --> 
	</div>
</div>