<header class="clearfix"> 
    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header"> 
          <!-- Stat Toggle Nav Link For Mobiles -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-bars"></i> </button>
          <!-- End Toggle Nav Link For Mobiles --> 
          <a class="navbar-brand" href="#" style="color: #d33;font-size:30px;font-weight:bold;">Learn<span style="color: rgba(0,0,0,.7);">English</span></a> </div>
        <div class="navbar-collapse collapse"> 
       
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav navbar-right">
            <li> <a class="active" href="/">Home</a></li>
            <li><a href="#">Contact</a> </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Sign in', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Sing up', new_user_registration_path %>
              </li>
            <% end %>
          </ul>
          <!-- End Navigation List --> 
        </div>
      </div>
    </div>
    <!-- End Header Logo & Naviagtion --> 
</header>
